In [1]:
def square(num):
    return num **2

In [2]:
my_nums = [1,2,3,4,5]

In [4]:
list(map(square, my_nums))

[1, 4, 9, 16, 25]

In [5]:
def splicer(myinput):
    if(len(myinput)%2 == 0):
        return 'EVEN'
    else:
        return myinput[0]

In [8]:
names = ['Andy', 'EVE', 'Sally']
list(map(splicer, names))

['EVEN', 'E', 'S']

In [9]:
def filter_even(num):
    return num%2 == 0

In [10]:
nums = [1,2,3,4,5,6,7]

In [11]:
list(filter(filter_even,nums))

[2, 4, 6]

In [17]:
square2 = lambda num: num ** 2

In [18]:
square2(5)

25

In [19]:
list(map(lambda num:num**2,my_nums))

[1, 4, 9, 16, 25]

In [20]:
list(filter(lambda num: num%2==0,my_nums))

[2, 4]

In [21]:
list(map(lambda x:x[::-1], names))

['ydnA', 'EVE', 'yllaS']