In [1]:
myList = [1,2,3]

In [2]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [3]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [4]:
for num in range(3, 10, 2):
    print(num)

3
5
7
9

In [5]:
list(range(3,10,2))

[3, 5, 7, 9]

In [9]:
index = 0
for letter in 'aditya':
    print("At in index: {} the character is: {}".format(index, letter))
    index += 1;

At in index: 0 the character is: a
At in index: 1 the character is: d
At in index: 2 the character is: i
At in index: 3 the character is: t
At in index: 4 the character is: y
At in index: 5 the character is: a

In [10]:
for item in enumerate('aditya'):
    print(item)

(0, 'a')
(1, 'd')
(2, 'i')
(3, 't')
(4, 'y')
(5, 'a')

In [11]:
for item,letter in enumerate('aditya'):
    print("character: {}, is at index:{}".format(letter, item))

character: a, is at index:0
character: d, is at index:1
character: i, is at index:2
character: t, is at index:3
character: y, is at index:4
character: a, is at index:5

In [13]:
for item, letter in zip(list(range(len('aditya'))), list('aditya')):
    print("{} - {}".format(item, letter))

0 - a
1 - d
2 - i
3 - t
4 - y
5 - a

In [14]:
'x' in [1,2,4]

False

In [15]:
'a' in 'adtya'

True

In [16]:
'a' in {"a": 1233}

True

In [18]:
myList = ["ad", "123", "er"]
min(myList)

'123'

In [21]:
from random import shuffle

In [24]:
shuffle(myList)

In [25]:
myList

['ad', '123', 'er']

In [26]:
from random import randint

In [27]:
randint(1,90)

52

In [28]:
input("enter a number")

enter a numbera

'a'

In [29]:
name = input("whats' your name")
print(name)

whats' your nameaditya
aditya

In [30]:
print(list('aditya'))

['a', 'd', 'i', 't', 'y', 'a']

In [31]:
operList = [num**2 for num in range(1,10)]

In [32]:
print(operList)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [37]:
oddNumList = [num**2 for num in range(1,20) if num%2 !=0]

In [38]:
oddNumList

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [39]:
celcius = [20,40, 34.2]

In [40]:
faren = [((9/5) * temp + 32) for temp in celcius]
faren

[68.0, 104.0, 93.56]