In [2]:
fruits = ['Orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')

2

In [3]:
fruits.count('car')

0

In [5]:
fruits.index('banana', 4)

6

In [6]:
fruits.reverse()

In [7]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'Orange']

In [8]:
fruits.append('grapes')

In [9]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'Orange', 'grapes']

In [10]:
fruits.sort()

In [11]:
fruits

['Orange', 'apple', 'apple', 'banana', 'banana', 'grapes', 'kiwi', 'pear']

In [12]:
fruits.pop()

'pear'

In [13]:
#STACK
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [14]:
stack.pop()

7

In [15]:
stack

[3, 4, 5, 6]

In [21]:
#DEQUE
from collections import deque
queue = deque(['Eric', 'John', 'Michael'])
queue.append('Terry')
queue.append("Graham")

In [22]:
queue

deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])

In [23]:
queue.popleft()
queue

deque(['John', 'Michael', 'Terry', 'Graham'])

In [24]:
queue.pop()

'Graham'

In [25]:
                                            #LIST COMPREHENSION

In [27]:
squares = []
for x in range(10):
    squares.append(x**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [28]:
squares1 =  list(map(lambda x: x**2, range(10)))
squares1

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [29]:
squares2 =  [x**2 for x in range(10)]
squares2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [30]:
'''Combine two list if they are not equal'''
[(x, y) for x in [1,2,3] for y in [3,1,4] if x!= y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [31]:
'''Expanded - Combine two list if they are not equal'''
result = []
for x in [1,2,4]:
    for y in [3,1,4]:
        if x!=y:
            result.append((x, y))
result

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (4, 3), (4, 1)]

In [33]:
vec = [-4, -2, 0, 2, 4]
#create a new list with doubled values
[ x*2 for x in vec ]

[-8, -4, 0, 4, 8]

In [35]:
#filter the list to exclude negative numbers
[x for x in vec if x>=0]

[0, 2, 4]

In [36]:
#apply a function to all elements
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [38]:
#call a method on each element
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[word.strip() for word in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [40]:
#create a list of 2-tuples like (number, square)
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [41]:
#flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]
[val2 for val1 in vec for val2 in val1]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
from math import pi
[str(round(pi, i)) for i in range(1,6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [43]:
                                        #NESTED LIST COMPREHENSIONS

In [44]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

In [55]:
#sol1:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [57]:
#sol2:
res = []
for i in range(4):
    res.append([row[i] for row in matrix])
res

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [59]:
#sol3:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [60]:
                                    #DEL statement

In [61]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]

In [62]:
a

[1, 66.25, 333, 333, 1234.5]

In [63]:
del a[2:4]

In [64]:
a

[1, 66.25, 1234.5]

In [65]:
del a[:]

In [66]:
del a

In [67]:
a

NameError: name 'a' is not defined

In [68]:
                                            #TUPLES

In [69]:
t = 12345, 54321, 'hello'

In [70]:
t

(12345, 54321, 'hello')

In [71]:
t[0]

12345

In [72]:
#nested tuples
ns_tup = t, (1,2, 3,4,5)
ns_tup

((12345, 54321, 'hello'), (1, 2, 3, 4, 5))

In [73]:
'''TUPLES ARE IMMUTABLE'''
t[0] = 'Aditya'

TypeError: 'tuple' object does not support item assignment

In [74]:
'''BUT TUPLES CAN CONTAIN MUTABLE OBJECTS'''
mut_tup = ([1,2,3], [4,5,6])
mut_tup

([1, 2, 3], [4, 5, 6])

In [75]:
mut_tup[0][1]='Aditya'
mut_tup

([1, 'Aditya', 3], [4, 5, 6])

In [76]:
#tuple initialization
empty_tup = ()
len(empty_tup)

0

In [77]:
single_tup = 'hello',
len(single_tup)

1

In [78]:
                                                    #SETS

In [ ]:
"""
1.Unordered
2.No duplicates
3.supports union, interesction, difference and symmetric difference
4. use () for creating a empty set; not {}
"""

In [80]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket

{'apple', 'banana', 'orange', 'pear'}

In [81]:
#fast membership testing 
'orange' in basket

True

In [82]:
'cake' in basket

False

In [83]:
#demonstrate set operations on unique letters from two words

In [84]:
a = set('abracadabra')
b = set('alacazam')

In [85]:
a

{'a', 'b', 'c', 'd', 'r'}

In [90]:
b

{'a', 'c', 'l', 'm', 'z'}

In [86]:
#letters in a but not in b
a - b

{'b', 'd', 'r'}

In [89]:
# all letters in a or b or both, union
a | b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [91]:
#letters common in both a and b, intersection
a & b

{'a', 'c'}

In [92]:
#letters in a and b, but not both
a ^ b

{'b', 'd', 'l', 'm', 'r', 'z'}

In [97]:
{x1 for x1 in 'abracadabra' if x1 not in 'abc'}

{'d', 'r'}

In [98]:
                                            #DICTIONARIES

In [ ]:
"""
1.dictionaries are indexed by keys
2. keys can be of immutable types: string and numbers
3. tuples can be used as keys, only if they contain strings,number or tuples; 
if it contains immutable object directly or indirectly, it cannot be used as key
4.dict() constructor can be used to build dictionaries directly from key and value pairs
"""

In [99]:
tel = {'jack': 4098, 'sape': 4139}
tel['jack']

4098

In [100]:
tel['rose']

KeyError: 'rose'

In [101]:
list(tel)

['jack', 'sape']

In [102]:
tel['guido'] = 4127

In [103]:
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [105]:
del tel['jack']

In [106]:
tel

{'sape': 4139, 'guido': 4127}

In [107]:
sorted(tel)

['guido', 'sape']

In [108]:
tel

{'sape': 4139, 'guido': 4127}

In [109]:
'sape' in tel

True

In [110]:
#initialization -1,dict constructor
dict([('jack', 4098), ('guido', 4127), ('sape', 4139)])

{'jack': 4098, 'guido': 4127, 'sape': 4139}

In [111]:
#initialization -2, from list comprehension
{x: x**2 for x in (2,4,6)}

{2: 4, 4: 16, 6: 36}

In [115]:
#initialization -3, simple strings
dict(sape= 4139, guido = 4127, jack= 4098 )

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [117]:
                                        #LOOPING TECHNIQUES

In [118]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k,v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [119]:
'''ENUMERATE() function'''
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [123]:
'''Looping over two or more sequence, use zip'''
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q,a in zip(questions, answers):
    print("what is your {0}? It is {1}.".format(q, a))

what is your name? It is lancelot.
what is your quest? It is the holy grail.
what is your favorite color? It is blue.

In [126]:
'''Looping in reverse'''
[x for x in reversed(range(1, 10, 2))]

[9, 7, 5, 3, 1]

In [127]:
                                        #COMPARING SEQUENCES

In [128]:
(1, 2, 3) < (1, 2, 4)

True

In [129]:
(1, 2, 4) == (1, 2, 4)

True

In [130]:
'ABC' < 'C' < 'Pascal' < 'Python'

True

In [131]:
(1, 2, 3, 4) < (1, 2, 4)

True

In [132]:
(1, 2, 3, 4) < (8,9,10)

True

In [134]:
(1, 2, 3) == (1.0, 2.0, 3.0)

True

In [135]:
(1, 2, ('aa', 'abc')) < (1, 2, ('abc', 'a'), 4)

True